.offerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmax;
    
  }

  .offerSection   img{
    margin: 0 1vmax;
    transition: all 0.5s;
    width: 350.989px;
}

.offerSection   img:hover{
    box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
  }

/* /* .offerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1vmax;
}

.offerSection img{
    margin: 0 1vmax;
    transition: all 0.5s;

}

.offerSection img:hover{
    box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
} */

/*
.offerSection{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vmax;
  }

  .offerSection   img{
    margin: 0 0.5vmax;
    transition: all 0.5s;
    width: 95%;

}

.offerSection   img:hover{
    box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
  } */